.DS_Store
=======
.vscode
*.pyc
*~
*.sqlite3
*.lock
.env
media/
signatures/
**/migrations/*
!**/migrations/__init__.py
.idea
temp/
**/weasyprint/*
**/sources/plugins/custom/ckeditor/*
menu.yaml
staticfiles/
../.DS_Store
