{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% load split %}
{% block center %}

    {#    <div class="content-wrapper">#}
    <h1>{{ request.resolver_match.route | split }}</h1>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form method="post" action='{{ action_url }}' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="form-row">
                            {% for field in form %}
                                <div class="form-group col-md-4 mb-0">
                                    {{ field|as_crispy_field }}
                                    {% if  field.field.widget.input_type == "select" %}
                                        <a href="{% url field.html_name %}">
                                            <button type="button" class="btn btn-outline-success">Agregar</button>
                                        </a>
                                    {% endif %}
                                    <br>
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-flat float-right btnTest">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {#    </div>#}
{% endblock %}
