{% extends 'base.html' %}
{% block  center %}
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-green">
                <div class="inner">
                    <h3>{{ countPlant }}</h3>

                    <p>Plantas registradas</p>
                </div>

                <div class="icon">
                    <i class="ion ion-leaf"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-lime">
                <div class="inner">
                    <h3>{{ countSeguimiento }}</h3>

                    <p>Total de seguimientos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-olive">
                <div class="inner">
                    <h3>{{ countVariedades }}</h3>
                    <p>Número de Variedades</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-albums"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}