{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
            <a href="{{ create_url }}" class="btn btn-primary btn-flat float-right btnTest">
                <i class="fas fa-plus"></i>Agregar
            </a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                {% endblock %}

                </thead>
                <tbody>
                {% block rows %}
                
                {% endblock %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

